<app-home></app-home>

<div>
  <h2 class="mt-5 py-5 fs-1 text-decoration-underline">Criar Nova Carta</h2>
  <form class="m-auto" style="max-width: 35vw" (ngSubmit)="add()">
    <div class="mb-3 row align-items-center">
      <label class="col-lg-2 col-form-label-lg p-0 border border-1 border-dark rounded-start fs-3" for="name">Nome</label>
      <div class="col-lg-10 p-0">
        <input class="form-control border-start-0 rounded-0 rounded-end fs-5" id="name" [(ngModel)]="card.name" name="Nome" placeholder="Insira o Nome" required>
      </div>
    </div>

    <div class="img mb-3 row align-items-center">
      <label class="col-lg-2 col-form-label-lg fs-3 p-0 border border-1 border-dark rounded-start" for="image">Imagem</label>
      <div class="col-lg-10 p-0">
        <input class="form-control border-start-0 rounded-0 rounded-end fs-5" id="image" type="file" (change)="onFileSelected($event)">
      </div>
    </div>

    <div class="mb-3 row">
      <p class="col-sm-12 fs-3 p-0 border border-1 border-dark rounded">Perks</p>
      <div *ngFor="let perk of perks" class="form-check mx-3">
        <input
          class="form-check-input fs-4"
          type="checkbox"
          id="{{perk.id}}"
          value="{{perk.id}}"
          name="perks{{perk.id}}"
          [checked]="isPerkSelected(perk.id)"
          (change)="onPerkChange($event, perk.id)">
        <label class="form-check-label fs-4" for="{{perk.id}}">{{perk.perk}}</label>
      </div>
    </div>

    <button class="btn btn-lg btn-dark mt-5" style="min-width: 25vw" type="submit">Criar Carta</button>
  </form>
</div>
